.shopping-cart-table {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.shopping-cart-table > div {
    display: none;
}

#shopping-cart-item-1, #shopping-cart-item-2, #shopping-cart-item-3, #shopping-cart-item-4 {
    border: 1px solid #E3E3E3;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}
.sc-delete-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sc-image {
    height: 200px;
    width: 200px;
}
.sc-image {
    background: url('../img/5de52d845565f8b6377fb90b32e73d64 1.jpg') no-repeat center;
}
#shopping-cart-item-2 .sc-image {
    background: url('../img/03cd3c74535c92b3f6d8bb1fb622d911 1.jpg') no-repeat center;
}
#shopping-cart-item-3 .sc-image {
    background: url('../img/berwick_303_dark_brown 4.jpg') no-repeat center;
}
#shopping-cart-item-4 .sc-image {
    background: url('../img/berwick_5150_dark_brown_suede 1.jpg') no-repeat center;
}
.sc-price {
    font-weight: bold;
}
.main-info {
    display: flex;
    align-items: center;
}
.sc-delete-icon {
    cursor: pointer;
}
.main-info {
    width: 370px;
}
.shopping-cart-table > div.btn {
    margin: 50px 20px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    background: rgba(175, 152, 113, 0.11);
    color: #726040;
}
@media all and (max-width: 750px){
    #shopping-cart-item-1, #shopping-cart-item-2, #shopping-cart-item-3, #shopping-cart-item-4 {
    padding: 0 50px 0 0;
}
}
@media all and (max-width: 630px){
    .main-info {
        flex-direction: column;
        width: 200px;
    }
    #shopping-cart-item-1, #shopping-cart-item-2, #shopping-cart-item-3, #shopping-cart-item-4 {
        padding: 20px 20px 20px 0;
    }
}