body {
    font-family: "Gotham Pro", sans-serif;
}

.main-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: black;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 50px;
}
header a, header a:visited, header a:hover, header a:active {
    text-decoration: none;
    color: black;
}

.logo {
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
}

.premium-text {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

.shoes-text {
    font-family: 'Playfair Display', serif;
    color: #542A33;
}

.menu {
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.navigation {
    padding: 5px 0;
}
.navigation li {
    display: inline;
    text-align: center;
    padding: 32px 0;
    cursor: pointer;
}
hr {
    height: 2px;
    width: 65px;
    margin: 10px 0 0 0;
    background: #542a33;
    border: none;
    transition: .2s ease-in-out;
    opacity: 1;
}
.two:hover ~ hr {
    margin-left: 145px;
}

.three:hover ~ hr {
    margin-left: 288px;
    width: 100px;
}

.four:hover ~ hr {
    margin-left: 472px;
}

.navigation li:first-child, .navigation li:nth-child(2), .navigation li:nth-child(3) {
    margin-right: 80px;
}
.user-icons {
    display: flex;
    align-items: center;
}

.user-icons li:nth-child(2) {
    width: 27px;
    height: 27px;
    background: url("../img/user.png");
}

.user-icons li:last-child {
    width: 27px;
    height: 27px;
    background: url("../img/shopping-cart.png");
    position: relative;
}

.user-icons li:not(li:last-child) {
    margin-right: 20px;
}


.user-icons #clicks {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    top: -14px;
    right: -14px;
    border-radius: 50%;
    background: red;
    color: white;
}

input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}


input[type=search] {
    background: url("../img/search.png") no-repeat left;
    border: transparent;
    height: 35px;
    width: 55px;
    outline: none;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

input[type=search]:focus, input[type=search]:hover {
    width: 200px;
    background-color: #fff;
    border-color: #66CC75;
    padding-left: 20px;
    box-shadow: 0 0 5px rgb(158 158 158);
}

input:-moz-placeholder {
    color: #999;
}

input::-webkit-input-placeholder {
    color: #999;
}


#search_animated input[type=search] {
    width: 35px;
    padding-left: 7px;
    color: transparent;
    cursor: pointer;
}

#search_animated input[type=search]:hover {
    background-color: #fff;
}

#search_animated input[type=search]:focus, #search_animated input[type=search]:hover {
    background-position-x: -7px;
    width: 200px;
    padding-left: 35px;
    color: #000;
    background-color: #fff;
    cursor: auto;
}

#search_animated input:-moz-placeholder {
    color: transparent;
}

#search_animated input::-webkit-input-placeholder {
    color: transparent;
}

.top-banner {
    display: flex;
    flex-direction: column;
}

.top-banner-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-banner .left-block {
    width: 70%;
    height: 482px;
    background: url("../img/top-banner-main.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-block-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 50%;
}

.top-banner .left-block h6 {
    font-weight: bold;
    font-size: 48px;
    color: #FFFFFF;
    text-align: center;
}

.top-banner .left-block p, .right-block p {
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
}

.btn {
    width: 215px;
    height: 52px;
    background: #B39151;
    color: #FFFFFF;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.top-banner .right-block {
    width: 30%;
    height: 480px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-block p {
    margin-bottom: 20px;
}


.card {
    position: relative;
    height: 230px;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.25);
    overflow: hidden;
}
.card .btn {
    border: transparent;
}
.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    transition: all 0.25s ease;
    z-index: -1;
}

.card.card-1::before {
    background-image: url("../img/top-banner-right1.jpg");
}
.card.card-2::before {
    background-image: url("../img/top-banner-right.jpg");
}

.card .card-content {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    color: #FFF;
    transition: background-color 0.25s ease, opacity 0.25s ease;
    opacity: 0;
}
.card .card-content .title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 600;
}
.card .card-content p {
    text-align: center;
    font-weight: 200;
}
.card:hover:before {
    transform: scale(1.2);
}
.card:hover .card-content {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
}
.card:hover > .shadow {
    display: none;
}

.card .shadow {
    position: absolute;
    top: 136px;
}


.shadow {
    height: 94px;
    width: 100%;
    background: url("../img/shadow-texture.png");
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-shadow {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../img/big-shadow-texute.png");
}

.brand-menu {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.brand-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    font-weight: bold;
}

.brand-menu ul li:hover, footer ul li:not(li:first-child):hover{
    color: #c32525;
}

.top-galleria, .most-popular-products {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.top-galleria > h3, .top-galleria > p, .most-popular-products > h3, .most-popular-products > p, .read-banner-text > p, .read-banner-text h3, .email-sub h3, .email-sub p {
    width: 65%;
    margin-bottom: 50px;
    text-align: center;
}

.block-title-h3 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
}

.top-galleria-shadow {
    height: 100%;
    background: black;
    opacity: 0.6;
}


.galleria-section > div:hover .top-galleria-shadow {
    opacity: 0;
    transition: opacity 1s

}

.bottom-galleria-section > div > div:hover .top-galleria-shadow {
    opacity: 0;
    transition: opacity 0.6s;
}

.galleria-section, .most-popular-products-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.galleria-section > div {
    width: 285px;
    height: 285px;
    cursor: pointer;
}

.galleria-section > div:first-child {
    background: url("../img/beckett-simonon-dunham-derby-pull-up-dark-brown-lifestyle-2 1.jpg");
}

.galleria-section > div:nth-child(2) {
    background: url("../img/beckett-simonon-types-of-shoes-oxfords 1.jpg");
}

.galleria-section > div:nth-child(3) {
    background: url("../img/Top-5-Crockett-and-Jones-Monk-Shoes-Banner 1.jpg");
}

.galleria-section > div:last-child {
    background: url("../img/lifestyle-beckett-simonon-cohen-black-1_e8ae8d67-b606-41b0-842d-778178ed5b0a 1.jpg");
}

.galleria-section p {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    z-index: 2;
    bottom: 60px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.most-popular-products-section > div {
    box-sizing: border-box;
    width: 285px;
    height: 370px;
    border: 1px solid #E3E3E3;
    padding: 20px;
}

.most-popular-products-section .item:first-child .item-img {
    background: url("../img/5de52d845565f8b6377fb90b32e73d64 1.jpg") no-repeat;
}

.most-popular-products-section .item:nth-child(2) .item-img {
    background: url("../img/03cd3c74535c92b3f6d8bb1fb622d911 1.jpg") no-repeat;
}

.most-popular-products-section .item:nth-child(3) .item-img {
    background: url("../img/berwick_303_dark_brown 4.jpg") no-repeat;
}

.most-popular-products-section .item:last-child .item-img {
    background: url("../img/berwick_5150_dark_brown_suede 1.jpg") no-repeat;
}


.addToCart-1 {
    background: #b39151;
    border-radius: 3px;
    padding: 2px;
    border: none;
    outline: none;
    margin-top: 10px;
}
.addToCart-1 .buttonText {
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    display: table-cell;
    position: relative;
    z-index: 2;
    transition: all 0.2s;
    width: calc(100% - 37px);
    padding: 7px 32px;
    white-space: nowrap;
}
.addToCart-1 .buttonIcon {
    width: 37px;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    overflow: hidden;
    border-radius: 0 2px 2px 0;
    transition: background 0.2s cubic-bezier(0, 0, 0.2, 1), color 0.1s, border-radius 0.1s linear 0.1s, all 0.2s;
    position: relative;
    color: #b39151;
    background-size: 200% 100%;
    background-position: 99% 0;
    background-image: linear-gradient(to right, #b39151 50%, #fff 50%);
}
.addToCart-1:hover {
    cursor: pointer;
}
.addToCart-1:hover .buttonText {
    transform: translateX(0.5em);
}
.addToCart-1:hover .buttonIcon {
    color: #fff;
    background-position: 0 0;
}

.item-img {
    width: 163px;
    height: 163px;
    align-self: center;
    background-repeat: no-repeat;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
}

.item-price {
    text-align: right;

}

.item-title, .item-price {
    font-weight: bold;
}

.read-banner {
    display: flex;
    margin-top: 100px;
}

.read-banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.read-banner-img {
    width: 30%;
    height: 339px;
    background: url("../img/rosie-fraser-IPcGLLgcABk-unsplash 1.jpg");
}

.email-sub {
    background: #4A443E;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.email-sub > div:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.email-sub-img {
    width: 40%;
    height: 394px;
    background: url("../img/3999754 1.jpg") no-repeat;
}

.email-sub h3 {
    font-weight: bold;
    font-size: 36px;
    color: #FFFFFF;
}

.email-sub p {
    color: #FFFFFF;
}

.email-input-block, .email-input-block label {
    display: flex;
}

.email-input-block label {
    margin-right: 20px;
}

.email-input-block input[type='email'] {
    color: #FFFFFF;
    outline: none;
    border: transparent;
    border-bottom: 1px solid #FFFFFF;
    background: transparent;
    padding-top: 20px;
    width: 250px;
}

.email-input-block ::placeholder {
    color: #FFFFFF;
}

.bottom-galleria {
    margin-top: 100px;
}

.bottom-galleria > h3 {
    margin-bottom: 50px;
}

.bottom-galleria-section {
    display: flex;
}

.column-2 {
    margin: 0 20px;
}

.column-1, .column-2, .column-3 {
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 700px;
    background-size: cover;
}

.column-1 > div:first-child {
    background: url("../img/Group 3.png") no-repeat;
    margin-bottom: 20px;
    height: 30%;
    background-size: cover;
}

.column-1 > div:last-child {
    background: url("../img/Group 4.png") no-repeat;
    height: 70%;
    background-size: cover;
}

.column-2 > div:first-child {
    background: url("../img/Group 5.png") no-repeat;
    height: 70%;
    margin-bottom: 20px;
    background-size: cover;
}

.column-2 > div:last-child {
    background: url("../img/ivan-zhukevich-7ZC4qO3Gj6g-unsplash 1.jpg") no-repeat;
    height: 30%;
    background-size: cover;
}

.column-3 > div:first-child {
    background: url("../img/jia-ye-erHlzWCN6zQ-unsplash 2.png") no-repeat;
    height: 30%;
    margin-bottom: 20px;
    background-size: cover;
}

.column-3 > div:last-child {
    background: url("../img/GettyImages-538772642 1.png") no-repeat;
    height: 70%;
    background-size: cover;
}

.card-title p {
    color: #FFFFFF;
}

.card-title p:first-child {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
}

.card-title p:last-child:hover {
    text-decoration: underline;
}

.card-title {
    z-index: 3;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.card-title {
    bottom: 115px;
}

.column-1 > div:last-child .card-title, .column-2 > div:first-child .card-title, .column-3 > div:last-child .card-title {
    bottom: 240px;
}

footer {
    height: 432px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

footer ul li:first-child {
    font-weight: bold;
    margin-bottom: 20px;
}

footer ul li:not(li:first-child) {
    margin-bottom: 10px;
}