body {
    font-family: "Gotham Pro", sans-serif;
}

.main-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: black;
}


header {
    width: 100%;
    margin-bottom: 100px;
}

header a, header a:visited, header a:hover, header a:active {
    text-decoration: none;
    color: black;
}

.header-wrap {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
}

.premium-text {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

.shoes-text {
    font-family: 'Playfair Display', serif;
    color: #542A33;
}

.menu {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.navigation {
    padding: 5px 0;
}

.navigation li {
    display: inline;
    text-align: center;
    padding: 32px 0;
    cursor: pointer;
}

hr {
    height: 2px;
    width: 65px;
    margin: 10px 0 0 0;
    background: #542a33;
    border: none;
    transition: .2s ease-in-out;
    opacity: 1;
}

.two:hover ~ hr {
    margin-left: 85px;
}

.three:hover ~ hr {
    margin-left: 168px;
    width: 100px;
}

.four:hover ~ hr {
    margin-left: 292px;
}

.navigation li:first-child, .navigation li:nth-child(2), .navigation li:nth-child(3) {
    margin-right: 80px;
}

.user-icons {
    display: flex;
    align-items: center;
}

.user-icons li:nth-child(2) {
    width: 27px;
    height: 27px;
    background: url("../img/user.png");
}

.user-icons li:nth-child(2):hover, .user-icons li:last-child:hover {
    transform: scale(1.2);

}

.user-icons li:last-child {
    width: 27px;
    height: 27px;
    background: url("../img/shopping-cart.png");
    position: relative;
}

.user-icons li:not(li:last-child) {
    margin-right: 20px;
}


.user-icons #clicks {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    top: -14px;
    right: -14px;
    border-radius: 50%;
    background: red;
    color: white;
}

input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}


input[type=search] {
    background: url("../img/search.png") no-repeat left;
    border: transparent;
    height: 35px;
    width: 55px;
    outline: none;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

input[type=search]:focus, input[type=search]:hover {
    width: 200px;
    background-color: #fff;
    border-color: #66CC75;
    padding-left: 20px;
    box-shadow: 0 0 5px rgb(158 158 158);
}

input:-moz-placeholder {
    color: #999;
}

input::-webkit-input-placeholder {
    color: #999;
}


#search_animated input[type=search] {
    width: 35px;
    padding-left: 7px;
    color: transparent;
    cursor: pointer;
}

#search_animated input[type=search]:hover {
    background-color: #fff;
}

#search_animated input[type=search]:focus, #search_animated input[type=search]:hover {
    background-position-x: -7px;
    width: 200px;
    padding-left: 35px;
    color: #000;
    background-color: #fff;
    cursor: auto;
}

#search_animated input:-moz-placeholder {
    color: transparent;
}

#search_animated input::-webkit-input-placeholder {
    color: transparent;
}

.top-banner {
    display: flex;
    flex-direction: column;
}

.top-banner-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-banner .left-block {
    width: 70%;
    height: 482px;
    background: url("../img/top-banner-main.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-block-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 50%;
}

.top-banner .left-block h6 {
    font-weight: bold;
    font-size: 48px;
    color: #FFFFFF;
    text-align: center;
}

.top-banner .left-block p, .right-block p {
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
}

.btn {
    width: 215px;
    height: 52px;
    background: #B39151;
    color: #FFFFFF;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.btn:active {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
}

.top-banner .right-block {
    width: 30%;
    height: 480px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-block p {
    margin-bottom: 20px;
}


.card {
    position: relative;
    height: 230px;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.card .btn {
    border: transparent;
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    transition: all 0.25s ease;
    z-index: -1;
}

.card.card-1::before {
    background-image: url("../img/top-banner-right1.jpg");
    background-position: top;
}

.card.card-2::before {
    background-image: url("../img/top-banner-right.jpg");
    background-position: top;
}

.card .card-content {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    color: #FFF;
    transition: background-color 0.25s ease, opacity 0.25s ease;
    opacity: 0;
}

.card .card-content .title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.card .card-content p {
    text-align: center;
    font-weight: 200;
}

.card:hover:before {
    transform: scale(1.2);
}

.card:hover .card-content {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
}

.card:hover > .shadow {
    display: none;
}

.card .shadow {
    position: absolute;
    top: 136px;
}


.shadow {
    height: 94px;
    width: 100%;
    background: url("../img/shadow-texture.png");
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-shadow {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../img/big-shadow-texute.png");
}

.brand-menu {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.brand-menu h3 {
    display: none;
}

.brand-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    font-weight: bold;
}

.brand-menu ul li:hover, footer ul li:not(li:first-child):hover {
    color: #c32525;
}

.top-galleria, .most-popular-products {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}


.top-galleria > h3, .top-galleria > p, .most-popular-products > h3, .most-popular-products > p, .read-banner-text > p, .read-banner-text h3, .email-sub h3, .email-sub p {
    width: 65%;
    margin-bottom: 50px;
    text-align: center;
}

.block-title-h3 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
}

.top-galleria-shadow {
    height: 100%;
    background: black;
    opacity: 0.6;
}

.galleria-row {
    display: flex;
    width: 50%;
}

.galleria-row > div:not(div:last-child) {
    margin-right: 20px;
}

.galleria-row > div:hover .top-galleria-shadow {
    opacity: 0;
    transition: opacity 1s
}

.bottom-galleria-section > div > div:hover .top-galleria-shadow {
    opacity: 0;
    transition: opacity 0.6s;
}

.galleria-section, .most-popular-products-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.galleria-section .galleria-row > div {
    width: 285px;
    height: 285px;
    cursor: pointer;
}

.galleria-row:first-child {
    margin-right: 20px;
    justify-content: flex-end;
}

.galleria-section .galleria-row:first-child > div:first-child {
    background: url("../img/beckett-simonon-dunham-derby-pull-up-dark-brown-lifestyle-2 1.jpg") top;
}

.galleria-section .galleria-row:first-child > div:last-child {
    background: url("../img/beckett-simonon-types-of-shoes-oxfords 1.jpg") top;
}

.galleria-section .galleria-row:last-child > div:first-child {
    background: url("../img/Top-5-Crockett-and-Jones-Monk-Shoes-Banner 1.jpg") top;
}

.galleria-section .galleria-row:last-child > div:last-child {
    background: url("../img/lifestyle-beckett-simonon-cohen-black-1_e8ae8d67-b606-41b0-842d-778178ed5b0a 1.jpg") top;
}

.galleria-section p {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    z-index: 2;
    bottom: 60px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.most-popular-products-section .most-popular-products-row > div {
    box-sizing: border-box;
    width: 50%;
    height: 370px;
    border: 1px solid #E3E3E3;
    padding: 20px;
}

.most-popular-products-section .item:first-child .item-img {
    background: url("../img/5de52d845565f8b6377fb90b32e73d64 1.jpg") no-repeat;
}

.most-popular-products-section .item:nth-child(2) .item-img {
    background: url("../img/03cd3c74535c92b3f6d8bb1fb622d911 1.jpg") no-repeat;
}

.most-popular-products-section .item:nth-child(3) .item-img {
    background: url("../img/berwick_303_dark_brown 4.jpg") no-repeat;
}

.most-popular-products-section .item:last-child .item-img {
    background: url("../img/berwick_5150_dark_brown_suede 1.jpg") no-repeat;
}
.mpp-s-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.addToCart-1 {
    background: #b39151;
    border-radius: 3px;
    padding: 2px;
    border: none;
    outline: none;
    margin-top: 10px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    display: flex;
}


.addToCart-1:active {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
}

.addToCart-1 .buttonText {
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    display: table-cell;
    position: relative;
    z-index: 2;
    transition: all 0.2s;
    width: calc(100% - 37px);
    padding: 7px 0;
    white-space: nowrap;
}

.addToCart-1 .buttonIcon {
    width: 37px;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    border-radius: 0 2px 2px 0;
    transition: background 0.2s cubic-bezier(0, 0, 0.2, 1), color 0.1s, border-radius 0.1s linear 0.1s, all 0.2s;
    position: relative;
    color: #b39151;
    background-size: 200% 100%;
    background-position: 99% 0;
    background-image: linear-gradient(to right, #b39151 50%, #fff 50%);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addToCart-1:hover {
    cursor: pointer;
}

.addToCart-1:hover .buttonText {
    transform: translateX(0.5em);
}

.addToCart-1:hover .buttonIcon {
    color: #fff;
    background-position: 0 0;
}

.item-img {
    width: 163px;
    height: 163px;
    align-self: center;
    background-repeat: no-repeat;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
}

.item-price {
    text-align: right;

}

.item-title, .item-price {
    font-weight: bold;
}

.read-banner {
    display: flex;
    margin-top: 100px;
}

.read-banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.read-banner-img {
    width: 40%;
    height: 339px;
    background: url("../img/rosie-fraser-IPcGLLgcABk-unsplash 1.jpg") left;
}

.email-sub {
    background: #4A443E;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.email-sub > div:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.email-sub-img {
    width: 40%;
    height: 394px;
    background: url("../img/3999754 1.jpg") no-repeat;
}

.email-sub h3 {
    font-weight: bold;
    font-size: 36px;
    color: #FFFFFF;
}

.email-sub p {
    color: #FFFFFF;
}

.email-input-block, .email-input-block label {
    display: flex;
}

.email-input-block label {
    margin-right: 20px;
}

.email-input-block input[type='email'] {
    color: #FFFFFF;
    outline: none;
    border: transparent;
    border-bottom: 1px solid #FFFFFF;
    background: transparent;
    padding-top: 20px;
    width: 250px;
}

.email-input-block ::placeholder {
    color: #FFFFFF;
}

.bottom-galleria {
    margin-top: 100px;
}

.bottom-galleria > h3 {
    margin-bottom: 50px;
}

.bottom-galleria-section {
    display: flex;
}

.column-2 {
    margin: 0 20px;
}

.column-2 > .btn {
    display: none;
}

.column-1, .column-2, .column-3 {
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 700px;
    background-size: cover;
}

.column-1 > div:first-child {
    background: url("../img/Group 3.png") no-repeat top;
    margin-bottom: 20px;
    height: 30%;
    background-size: cover;
}

.column-1 > div:last-child {
    background: url("../img/Group 4.png") no-repeat top;
    height: 70%;
    background-size: cover;
}

.column-2 > div:first-child {
    background: url("../img/Group 5.png") no-repeat top;
    height: 70%;
    margin-bottom: 20px;
    background-size: cover;
}

.column-2 > div:nth-child(2) {
    background: url("../img/ivan-zhukevich-7ZC4qO3Gj6g-unsplash 1.jpg") no-repeat top;
    height: 30%;
    background-size: cover;
}

.column-3 > div:first-child {
    background: url("../img/jia-ye-erHlzWCN6zQ-unsplash 2.png") no-repeat top;
    height: 30%;
    margin-bottom: 20px;
    background-size: cover;
}

.column-3 > div:last-child {
    background: url("../img/GettyImages-538772642 1.png") no-repeat top;
    height: 70%;
    background-size: cover;
}

.card-title p {
    color: #FFFFFF;
}

.card-title p:first-child {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
}

.card-title p:last-child:hover {
    text-decoration: underline;
}

.card-title {
    z-index: 3;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.card-title {
    bottom: 115px;
}

.column-1 > div:last-child .card-title, .column-2 > div:first-child .card-title, .column-3 > div:last-child .card-title {
    bottom: 240px;
}

footer {
    height: 432px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

footer ul li:first-child {
    font-weight: bold;
    margin-bottom: 20px;
}

footer ul li:not(li:first-child) {
    margin-bottom: 10px;
}

.fixed-shopping-cart {
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 1000;
    background: url(../img/shopping-cart-fixed.png);
    background-size: cover;
    height: 100px;
    width: 100px;
}

#clicks1 {
    display: none;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    top: -14px;
    right: -14px;
    border-radius: 50%;
    background: red;
    color: white;
}

.fixed-shopping-cart {
    display: none;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

#loginModal form {
    width: 380px;
    margin: 4em auto;
    padding: 3em 2em 2em 2em;
    background: #fafafa;
    border: 1px solid #ebebeb;
    box-shadow: rgba(0, 0, 0, 0.14902) 0 1px 1px 0, rgba(0, 0, 0, 0.09804) 0 1px 2px 0;
}

#loginModal .group {
    position: relative;
    margin-bottom: 45px;
}

#loginModal input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    -webkit-appearance: none;
    display: block;
    background: #fafafa;
    color: #636363;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #757575;
}

#loginModal input:focus {
    outline: none;
}


/* Label */

#loginModal label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: -20px;
    transition: all 0.2s ease;
}


/* active */

#loginModal input:focus ~ label, input.used ~ label {
    top: -20px;
    transform: scale(.75);
    left: -2px;
    /* font-size: 14px; */
    color: #b39151;
}


/* Underline */

#loginModal .bar {
    position: relative;
    display: block;
    width: 100%;
}

#loginModal .bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #b39151;
    transition: all 0.2s ease;
}

#loginModal .bar:before {
    left: 50%;
}

#loginModal .bar:after {
    right: 50%;
}


/* active */

#loginModal input:focus ~ .bar:before, input:focus ~ .bar:after {
    width: 50%;
}


/* Highlight */

#loginModal .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}


/* active */

#loginModal input:focus ~ .highlight {
    animation: inputHighlighter 0.3s ease;
}


/* Animations */

@keyframes inputHighlighter {
    from {
        background: #b39151;
    }
    to {
        width: 0;
        background: transparent;
    }
}


/* Button */

#loginModal .button {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    margin: .3em 0 1em 0;
    width: 100%;
    vertical-align: middle;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    letter-spacing: 1px;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #b39151;
    cursor: pointer;
    transition: all 0.15s ease;
}

#loginModal .button:focus {
    outline: 0;
}


/* Button modifiers */

#loginModal .buttonBlue {
    background: #b39151;
}

.buttonBlue:hover {
    background: #b39151;
}


/* Ripples container */

.ripples {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: transparent;
}


/* Ripples circle */

.ripplesCircle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.25);
}

.ripples.is-active .ripplesCircle {
    animation: ripples .4s ease-in;
}


/* Ripples animation */

@keyframes ripples {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    100% {
        width: 200%;
        padding-bottom: 200%;
        opacity: 0;
    }
}

.burger {
    display: none;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 20px;
    right: 20px;
    border-radius: 4px;
    z-index: 10;
}

.burger span {
    position: relative;
    margin-top: 9px;
    margin-bottom: 9px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -1.5px;
}

.burger span, .burger span::before, .burger span::after {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #2a2a2a;
    outline: 1px solid transparent;
    -webkit-transition-property: background-color, -webkit-transform;
    -moz-transition-property: background-color, -moz-transform;
    -o-transition-property: background-color, -o-transform;
    transition-property: background-color, transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.burger span::before, .burger span::after {
    position: absolute;
    content: "";
}

.burger span::before {
    top: -9px;
}

.burger span::after {
    top: 9px;
}

.burger.clicked span {
    background-color: transparent;
}

.burger.clicked span::before {
    -webkit-transform: translateY(9px) rotate(45deg);
    -moz-transform: translateY(9px) rotate(45deg);
    -ms-transform: translateY(9px) rotate(45deg);
    -o-transform: translateY(9px) rotate(45deg);
    transform: translateY(9px) rotate(45deg);
}

.burger.clicked span::after {
    -webkit-transform: translateY(-9px) rotate(-45deg);
    -moz-transform: translateY(-9px) rotate(-45deg);
    -ms-transform: translateY(-9px) rotate(-45deg);
    -o-transform: translateY(-9px) rotate(-45deg);
    transform: translateY(-9px) rotate(-45deg);
}

.burger.clicked span:before, .burger.clicked span:after {
    background-color: #ffffff;
}

.burger:hover {
    cursor: pointer;
}

/*  NAV
========================================== */
nav {
    display: none;
    background-color: #2a2a2a;
    position: fixed;
    z-index: 9;
    top: 0;
    right: 0;
    height: 100%;
    max-width: 50%;
    width: 100%;
    padding: 100px 40px 60px 40px;
    overflow-y: auto;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -moz-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -o-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

nav.show {
    width: 50%;
    max-width: 50%;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
}

nav.show ul.main li {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
}

nav.show ul.main li:nth-child(1) {
    transition-delay: 0.15s;
}

nav.show ul.main li:nth-child(2) {
    transition-delay: 0.3s;
}

nav.show ul.main li:nth-child(3) {
    transition-delay: 0.45s;
}

nav.show ul.main li:nth-child(4) {
    transition-delay: 0.6s;
}

nav.show ul.main li:nth-child(5) {
    transition-delay: 0.75s;
}

nav.show ul.main li:nth-child(6) {
    transition-delay: 0.9s;
}

nav.show ul.main li:nth-child(7) {
    transition-delay: 1.05s;
}

nav.show ul.main li:nth-child(8) {
    transition-delay: 1.2s;
}

nav.show ul.main li:nth-child(9) {
    transition-delay: 1.35s;
}

nav.show .about, nav.show .social, nav.show ul.sub {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
    transition-delay: 0.85s;
}

nav ul.main {
    list-style-type: none;
}

nav ul.main li {
    margin-bottom: 20px;
    -webkit-transform: translateX(40px);
    -moz-transform: translateX(40px);
    -ms-transform: translateX(40px);
    -o-transform: translateX(40px);
    transform: translateX(40px);
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

nav ul.main li:last-of-type {
    margin-bottom: 0;
}

nav ul.main li a {
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    display: block;
    letter-spacing: 5px;
    font-weight: 600;
    padding: 10px 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

nav ul.main li a span {
    color: #b7ac7f;
}

nav ul.main li a:hover {
    color: #b7ac7f;
}

nav .about {
    margin-top: 40px;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

nav .about p {
    color: #ffffff;
    font-family: "Spectral", serif;
    font-size: 1.05rem;
    letter-spacing: 0.5px;
    line-height: 170%;
}

nav .social {
    margin-top: 40px;
    position: relative;
    padding-bottom: 30px;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

nav .social:after {
    content: "";
    width: 230px;
    height: 2px;
    background-color: #b7ac7f;
    position: absolute;
    bottom: 0;
    left: 0;
}

nav .social a {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 25px;
}

nav .social a:last-of-type {
    margin-right: 0;
}

nav .social a:hover svg path, nav .social a:hover svg circle {
    fill: #b7ac7f;
}

nav .social a svg {
    width: 100%;
    height: 100%;
}

nav .social a svg path, nav .social a svg circle {
    fill: #ffffff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

nav ul.sub {
    list-style-type: none;
    margin-top: 40px;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

nav ul.sub li {
    margin-bottom: 10px;
}

nav ul.sub li:last-of-type {
    margin-bottom: 0;
}

nav ul.sub li a {
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    letter-spacing: 1px;
    font-size: 0.9rem;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

nav ul.sub li a:hover {
    color: #b7ac7f;
}

@-webkit-keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 7));
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 7));
    }
}

.slider {
    display: none;
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.slider::before, .slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
    animation-iteration-count: infinite;
}

.slider .slide {
    height: 100px;
    width: 250px;
}


/*  OVERLAY
========================================== */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #b7ac7f;
    opacity: 0;
    visibility: hidden;
}

.overlay.show {
    opacity: 0.8;
    visibility: visible;
}


@media all and (max-width: 1200px) {
    .navigation li:first-child, .navigation li:nth-child(2), .navigation li:nth-child(3) {
        margin-right: 20px;
    }
}

@media all and (max-width: 1070px) {
    .mpp-s-row {
        flex-direction: column;
    }

    .most-popular-products-row {
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }

    .most-popular-products-row:first-child {
        justify-content: center;
    }

    .most-popular-products-section .most-popular-products-row > div {
        width: 40%;
    }
}

@media all and (max-width: 950px) {
    ul.navigation {
        display: none;
    }

    .burger, header nav {
        display: block;
    }

    .menu {
        justify-content: flex-end;
    }

    ul.user-icons {
        display: none;
    }

    header {
        width: 100%;
        background: white;
        position: fixed;
        z-index: 99999999;
    }

    .top-banner {
        margin-top: 100px;
    }

    input[type=search] {
        background: transparent;
        width: 100%;
    }

    input[type=search]:focus, input[type=search]:hover {
        background: #ffffff;
        width: 100%;
    }

    input[type=search]::placeholder {
        color: #ffffff;
        font-family: "Raleway", sans-serif;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.5rem;
        letter-spacing: 5px;
        font-weight: 600;
    }

    input[type=search]::placeholder:focus {
        color: #2a2a2a;
    }

    .top-banner-wrap {
        flex-direction: column;
    }

    .top-banner .left-block, .top-banner .right-block {
        width: 100%;
    }

    .top-banner .right-block {
        flex-direction: row;
        margin: 20px 0 0 0;
        height: auto;
    }

    .right-block .card {
        width: 50%;
    }

    .right-block > div:first-child {
        margin-right: 10px;
    }

    .right-block > div:last-child {
        margin-left: 10px;
    }

    .galleria-section {
        flex-direction: column;
    }

    .galleria-row {
        width: 100%;
        justify-content: center;
    }

    .galleria-row:first-child {
        margin-right: 0;
        justify-content: center;
    }

    .galleria-row:last-child {
        margin-top: 20px;
    }

    .brand-menu ul {
        width: 65%;
    }

    .email-sub {
        display: none;
    }

    .read-banner-text {
        width: 100%;
    }

    .read-banner-new-img {
        background: url("../img/123.jpg") no-repeat left;
        background-size: cover;
        display: block;
        height: 400px;
        width: 100%
    }

    .read-banner-text p {
        margin-top: 50px;
    }

    .read-banner-img {
        display: none;
    }

    .read-banner-text h3, .read-banner-text p {
        width: 90%;
        text-align: justify;
    }
}

@media all and (max-width: 768px) {
    .top-banner .right-block {
        display: none;
    }

    .brand-menu > ul, .brand-menu div.btn {
        display: none;
    }

    .brand-menu {
        flex-direction: column;
    }

    .slider, .brand-menu h3 {
        display: block;
    }

    .brand-menu .block-title-h3 {
        margin-bottom: 50px;
    }

    .top-galleria > h3, .top-galleria > p, .most-popular-products > h3, .most-popular-products > p, .read-banner-text > p, .read-banner-text h3, .email-sub h3, .email-sub p {
        width: 100%;
        text-align: center;
    }
    .bottom-galleria > h3 {
        margin: 0;
    }

    .column-1, .column-2 > div:nth-child(2), .column-3 {
        display: none;
    }

    footer div.logo {
        display: none;
    }

    .footer-wrap {
        width: unset;
        flex-direction: column;
        height: 80%;
        align-items: center;
        text-align: center;
    }

    .footer-wrap ul:nth-child(2) {
        display: none;
    }

    .column-2 {
        width: 100%;
        height: 700px;
        align-items: center;
        justify-content: center;
    }

    .column-2 > div:first-child {
        width: 100%;
    }

    .column-2 > .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(175, 152, 113, 0.11);
        color: #726040;
    }
    .most-popular-products-section {
        flex-direction: row;
        overflow-y: hidden;
        overflow-x: scroll;
    }
    .most-popular-products-section .most-popular-products-row > div {
        width: 270px;
        min-width: 270px;
    }
    .most-popular-products-row:first-child {
        margin-right: 20px;
    }
    .mpp-s-row {
        flex-direction: row;
        width: auto;
    }
    .galleria-row:first-child {
        justify-content: space-between;
    }
}
@media all and (max-width: 425px){
    .main-container {
        padding: 0 10px;
    }
    .left-block {
        height: 368px;
    }
    .left-block-wrap {
        height: 60%;
        width: 95%;
    }
    .galleria-section .galleria-row > div {
        height: 200px;
}
    .galleria-section .galleria-row > div {
        background-position: bottom;
    }
    .galleria-section .galleria-row:first-child > div:first-child, .galleria-section .galleria-row:first-child > div:last-child, .galleria-section .galleria-row:last-child > div:first-child, .galleria-section .galleria-row:last-child > div:first-child {
       background-position: bottom;
    }
}

